{% include "header.html" %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Yunalish</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Bosh sahifa</a></li>
                        <li class="breadcrumb-item"><a href="/admin/yunalish">Yo`nalishlar</a></li>

                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">


            <div class="row">
                <hr>
                {% if yunalish %}

                <div class="col-12 col-md-6">
                    <div class="card">

                        <div style="color:red;" class="card-header">{{yunalish.id}} - id li {{ yunalish.nom }} <span
                                style="color:black">-yo`nalishni tahrirlash</span></div>
                        <div class="card-body">
                            <form action="/admin/yunalish/tahrirlash" method="post">
                                <div class="form-group">
                                    <label for="id">ID: </label>
                                    <input class="form-control" type="text" name="id" id="id" value="{{yunalish.id}}"
                                           readonly>
                                </div>
                                <div class="form-group">
                                    <label for="nom">Nom: </label>
                                    <input class="form-control" type="text" name="nom" id="nom" value="{{yunalish.nom}}"
                                           required>
                                </div>
                                <div class="form-group">
                                    <label for="kod">Kod: </label>
                                    <input type="text" class="form-control" name="kod" id="kod"
                                           value="{{yunalish.kod}}">
                                </div>
                                <div class="form-group">
                                    <label for="izoh">Izoh: </label>
                                    <textarea class="form-control" name="izoh" id="izoh" data-value="{{yunalish.izoh}}">
                </textarea>
                                </div>
                                <input class="btn btn-primary" type="submit" value="Tahrirlash">
                                <a class="btn btn-secondary" href="/admin/yunalish">Bekor qilish </a>

                            </form>

                        </div>
                    </div>
                </div>


                {% else %}

                <div class="col-12 col-md-6">

                    <h2 style="color: blue;"><i class="fa fa-plus" aria-hidden="true"></i>
                        Yo`nalish qo'shish</h2>
                    <div class="card">
                        <div class="card-body">
                            <form action="/admin/yunalish" method="post">
                                <div class="form-group">
                                    <label for="nom">Nom: </label>
                                    <input class="form-control" required placeholder="Yunalish nomi" type="text"
                                           name="nom" id="nom">
                                </div>
                                <div class="form-group">
                                    <label for="kod">Kod: </label>
                                    <input class="form-control" placeholder="Yunalish kod" type="text" name="kod"
                                           id="kod">
                                </div>
                                <div class="form-group">
                                    <label for="izoh">Izoh: </label>
                                    <textarea class="form-control" placeholder="Fikringizni qoldiring..." name="izoh"
                                              id="izoh"> </textarea>
                                </div>
                                <input class="btn btn-primary" type="submit" value="Saqlash">
                                <input class="btn btn-secondary" type="reset" value="Tozalash">
                            </form>
                        </div>
                    </div>
                </div>

                {% endif %}

                <div class="col-12 col-md-6">

                    <h2 style="color: blue;"><i class="fa fa-server" aria-hidden="true"></i>
                        Yo`nalishlar ro`yhati</h2>
                    <div class="container">

                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nom</th>
                                <th>Kod</th>
                                <th>Izoh</th>
                                <th></th>
                            </tr>
                            </thead>

                            <tbody>
                            {% if yunalishlar %}
                            {% for y in yunalishlar %}

                            <tr>
                                <td>{{y.id}}</td>
                                <td>{{y.nom}}</td>
                                <td>{{y.kod}}</td>
                                <td>{{y.izoh}}</td>
                                <td>

                                    <a class="text-primary" href="/admin/yunalish?tahrirlash={{y.id}}"> <i style="color:green" class="fa fa-pen" aria-hidden="true"></i></a>


                                    <a class="text-danger" data-toggle="modal" data-target="#exampleModal"
                                       data-id="{{y.id}}" data-nom="{{y.nom}}">

                                        <i class="fa fa-trash" aria-hidden="true"></i>

                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
    </section>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Siz rostdan ham <span style="color:red" id="name"></span>
                    yo`nalishini o'chirmoqchimisiz?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Bekor qilish</button>
                <a href="/admin/yunalish/ochirish/" class="btn btn-danger">O'chirish</a>
            </div>
        </div>
    </div>
</div>
<script>
    $('#exampleModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget)
    var id = button.data('id') ;
    var nom = button.data('nom')
    var modal = $(this)
    modal.find('.modal-footer a').attr('href', '/admin/yunalish/ochirish?id='+id)
     modal.find('.modal-content #name').text(nom)
    })

</script>
{% include "footer.html" %}